@import "../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  background-color: $mainColor;
  color: $textColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  
  .wrapper {
    padding: 10px 30px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    
    .left{

      .logo{
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a{
        color: white;
        text-decoration: none;
        margin: 5px;
      }
    }
  }

  &.active {
    background-color: #fff;
    color: #24252a;

    .hamburger{
      span{
        &:first-child{
          background-color: $mainColor;
          transform: rotate(45deg) translate(1px);
        }
        &:nth-child{
          opacity:0;
        }
        &:last-child{
          background-color: $mainColor;
          transform: rotate(-45deg);

        }

      }

    }
  }
}

@media screen and (max-width: $breakpointmobile){
  .navbar{
    height: 100px;
    padding-top: 20px;

    .wrapper{
      .right{
        .personal__info{
          display: none;
        }
      }
    }
    
  }
}
